* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button{
  cursor: pointer;
}
body{
  font-family: var(--font-family);
   /* ff 3.6+ */
   background:-moz-radial-gradient(circle at 50% 50%, rgba(9, 19, 80, 1) 0%, rgba(50, 0, 50, 1) 100%);

   /* safari 5.1+,chrome 10+ */
   background:-webkit-radial-gradient(circle at 50% 50%, rgba(9, 19, 80, 1) 0%, rgba(50, 0, 50, 1) 100%);

   /* opera 11.10+ */
   background:-o-radial-gradient(circle at 50% 50%, rgba(9, 19, 80, 1) 0%, rgba(50, 0, 50, 1) 100%);

   /* ie 10+ */
   background:-ms-radial-gradient(circle at 50% 50%, rgba(9, 19, 80, 1) 0%, rgba(50, 0, 50, 1) 100%);

   /* global 92%+ browsers support */
   background:radial-gradient(circle at 50% 50%, rgba(9, 19, 80, 1) 0%, rgba(50, 0, 50, 1) 100%);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100svh;
}

.main__heading{
  margin-bottom: 5rem;
  font-weight: 800;
  color: white;
}



